<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
<h1>Password Generator</h1>

<form action="{%url 'password' %}">

    <select name="length">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14" selected='selected'>14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select> Lenght
    <br>
    <input type="checkbox" name='uppercase'> Uppercase
    <br>
    <input type="checkbox" name='numbers'> Numbers
    <br>
    <input type="checkbox" name='special'> Special Characters
    <br>
    <input type="submit" value="Generate Password" class="bnt bnt-primary">
    <br>
    <a href="{% url 'home' %}">Home</a>
    <br>
    <a href="{% url 'about' %}">About</a>
    <br>
</form>
</div>
